@import "common.scss";
@import "theme/_socicon.scss";
@import "theme/_layout.scss";
@import 'theme/buttons.scss';
@import 'app/form.scss';

.login {
  background: -webkit-linear-gradient(to left, rgba(218, 226, 248, .6) , rgba(214, 164, 164, 0.6)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(218, 226, 248, .6) , rgba(214, 164, 164, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: inset -1px -114px 72px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  height:100vh;
}
.login .submit {
  background-color: rgba(181, 117, 117, 0.8)!important;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  margin-top: 10px;
  border-radius: 0;
}
.login .input-group {
  margin-top: 20px;
  width: 90%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.login .input-group-addon {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(85, 85, 85, 0.6) !important;
}
.login input {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333!important;
  border: none;
}
.login input::-webkit-input-placeholder {
  color: rgba(85, 85, 85, 0.4) !important;
}
.login form {
  margin-left: auto;
  margin-right: auto;
}
.login img {
  margin-left: auto;
  margin-right: auto;
}
.center.both{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
