<button class="btn btn-default" ng-click="updateAll()"><i class="fa fa-refresh"></i></button>
<div class="row">
      <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel medium-panel animated zoomIn" zoom-in>
          <div class="panel-heading clearfix">
            <h3>{{MonthDisplay.title}} by Month</h3>
           <div class="btn-group" role="group" aria-label="..." style="position:absolute;top:5px;right:10px">
              <button type="button" ng-click="MonthDisplay={key:['Month_Runs'],title:'Number of Runs'}" class="btn btn-default" ng-class="{selected:MonthDisplay.key=='Month_Runs'}">Runs</button>
              <button type="button" ng-click="MonthDisplay={key:['Month_Distance'],title:'Distance in Miles'}" class="btn btn-default" ng-class="{selected:MonthDisplay.key=='Month_Distance'}">Distance</button>
              <button type="button" ng-click="MonthDisplay={key:['Month_Avg_Pace'],title:'Average Pace'}" class="btn btn-default" ng-class="{selected:MonthDisplay.key=='Month_Avg_Pace'}">Pace</button>
            </div>
          </div>
          <div class="panel-body">
           <div
               area-chart
               area-data='RunsByMonth'
               area-xkey='Label'
               area-ykeys = 'MonthDisplay.key'
               area-labels='[MonthDisplay.title]'
               area-resize='true'

               line-colors='colors'>
           </div>
         </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="All Runs" ba-panel-class="with-scroll">
      <div include-with-scope="app/pages/running/tables/allruns.html"></div>
    </div>
  </div>
</div>






<div class="row">
  <div class="col-xlg-3 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="To Do List"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll todo-panel">
    <dashboard-todo></dashboard-todo>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-xs-12"
       ba-panel
       ba-panel-title="Calendar"
       ba-panel-class="xmedium-panel feed-comply-panel with-scroll calendar-panel">
    <dashboard-calendar></dashboard-calendar>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <div include-with-scope="app/pages/dashboard/weather/weather.html"></div>
    </div>
  </div>
</div>
